@import "./varibales.scss";
@media only screen and (max-width: 800px) {
    .contact-items {
        flex-direction: column;
    }
    .contact-content {
        margin-bottom: 30px;
        h1,p {
            text-align: center;
        }
    }
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 257px;
    background: $Color-Ebony-Clay;
    margin-top: 141px;
    margin-bottom: 80px;
}

.contact-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contact-content {
        h1 {
            font-weight: bold;
            font-size: 40px;
            line-height: 57px;
            letter-spacing: 0.2px;
            color: $Color-White;
        }
        p {
            width: 439px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $Color-White;
        }
    }
    .contact-input {
        display: flex;
        align-items: center;
        form {
            // width: 100%;
            .search-form {
                display: flex;
                .search-field {
                    width: 100%;
                    border-right: 0;
                    background: #F9F9F9;
                    border: 1px solid #E6E6E6;
                    box-sizing: border-box;
                    border-radius: 5px 0px 0px 5px;
                    padding-left: 20px;
                    outline: none;
                }
                button {
                    padding: 10px 22.5px;
                    background: $Color-Picton-Blue;
                    border: 1px solid $Color-Picton-Blue;
                    box-sizing: border-box;
                    border-radius: 0px 5px 5px 0px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 28px;
                    /* identical to box height, or 200% */
                    letter-spacing: 0.2px;
                    /* light-text-color */
                    color: $Color-White;
                    cursor: pointer;
                }
            }
        }
    }
}