@import "./varibales.scss";
@media only screen and (min-width: 800px) {
    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 33.5px;
        .card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 40px;
            border: 1px solid $Color-Mercury;
            background: $Color-Alabaster;
            border: 1px solid $Color-Mercury;
            box-sizing: border-box;
            border-radius: 5px;
            transition: all ease .4s;
            .card-text p {
                font-style: normal;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $Color-Ebony-Clay;
                padding-top: 10.86px;
            }
        }
        .card-item:hover {
            background: $Color-Picton-Blue;
        }
        .card-item:hover .card-icon,
        .card-item:hover .card-text p {
            fill: $Color-White;
            color: $Color-White;
        }
    }
}

@media only screen and (max-width: 800px) {
    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 33.5px;
        .card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 40px;
            border: 1px solid $Color-Mercury;
            background: $Color-Alabaster;
            border: 1px solid $Color-Mercury;
            box-sizing: border-box;
            border-radius: 5px;
            transition: all ease .4s;
            .card-text p {
                font-style: normal;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $Color-Ebony-Clay;
                padding-top: 10.86px;
            }
        }
        .card-item:hover {
            background: $Color-Picton-Blue;
        }
        .card-item:hover .card-icon,
        .card-item:hover .card-text p {
            fill: $Color-White;
            color: $Color-White;
        }
    }
}