@import "./varibales.scss";
@media only screen and (min-width: 800px) {
    .main-items {
        display: flex;
        align-items: center;
        margin-top: 126px;
    }
    // .main-section {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 999;
    // }
    .header-main {
        position: relative;
        z-index: 999;
        background: $Color-Alabaster;
        height: 847px;
    }
    .navbar-icons {
        display: none;
    }
    .navbar-menu ul li a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        letter-spacing: 0.2px;
        /* second-text-color */
        color: $Color-Dove-Gray;
        cursor: pointer;
    }
    .navbar-menu ul li:not(:first-child) {
        padding-left: 21px;
    }
}

@media only screen and (max-width: 800px) {
    .main-items {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 126px;
    }
    // .header-main {
    //     background: $Color-Alabaster;
    //     height: 532px;
    // }
    .navbar-items {
        padding-bottom: 19px;
        .navbar-login,
        .navbar-button {
            display: none;
        }
        .navbar-brand {
            padding-left: 35px;
        }
        .navbar-icons {
            display: flex;
            align-items: center;
            .shopping {
                padding-left: 24px;
                padding-right: 33.35px;
            }
        }
        .navbar-icons .menubar {
            padding-right: 38.57px;
        }
    }
    .navbar-menu ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        /* identical to box height, or 150% */
        text-align: center;
        letter-spacing: 0.2px;
        color: $Color-Dove-Gray;
    }
    .navbar-menu ul {
        position: absolute;
        left: -100%;
        right: 0px;
        top: 0%;
        padding-top: 96px;
        // padding-bottom: 98px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        // background: $Color-Alabaster;
        transition: 0.6s ease all;
        z-index: 999;
    }
    .navbar-menu ul.active {
        left: 0;
    }
    /* .navbar-menu ul li:not(:first-child) {
        padding-left: 0px;
        padding-top: 30px;
    }*/
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    .navbar-item {
        display: flex;
        align-items: center;
        .navbar-menu ul {
            display: flex;
            align-items: center;
        }
        .navbar-brand h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            /* identical to box height, or 133% */
            letter-spacing: 0.1px;
            /* text-color */
            color: $Color-Ebony-Clay;
            margin-right: 83px;
        }
    }
    .navbar-nav {
        display: flex;
        align-items: center;
        .navbar-login p a {
            /* btn-text */
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            /* identical to box height, or 157% */
            letter-spacing: 0.2px;
            /* primary-color */
            color: $Color-Picton-Blue;
            padding-right: 45px;
        }
        .navbar-button button {
            padding: 15px 25px;
            background: $Color-Picton-Blue;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            a {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                /* identical to box height, or 157% */
                letter-spacing: 0.2px;
                /* light-text-color */
                color: $Color-White;
                img {
                    padding-left: 15px;
                }
            }
        }
    }
}

// .blob {
//     position: absolute;
//     right: 0;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     // top: calc(50% - 822.45px/2 - 1.84px);
//     // transform: matrix(-0.71, 0.81, -0.61, -0.71, 0, 0);
//     // z-index: -2;
// }
@media only screen and (min-width: 800px) {
    .main-text {
        p {
            width: 376px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            /* or 150% */
            letter-spacing: 0.2px;
            /* second-text-color */
            color: $Color-Dove-Gray;
            margin-top: 35px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .main-items {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 126px;
        .main-item {
            .main-text {
                h1 {
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    /* or 150% */
                    letter-spacing: 0.2px;
                    /* second-text-color */
                    color: $Color-Dove-Gray;
                    margin-top: 35px;
                }
            }
        }
        .main-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.main-items {
    display: flex;
    align-items: center;
    margin-top: 126px;
    .main-item {
        .main-text {
            h1 {
                font-style: normal;
                font-weight: 800;
                font-size: 58px;
                line-height: 80px;
                /* or 138% */
                letter-spacing: 0.2px;
            }
        }
        position: static;
        width: 509px;
        height: 342px;
        left: calc(50% - 509px/2 - 270px);
        top: 120.5px;
    }
    .main-image {
        position: relative;
        .circleDark {
            position: absolute;
            top: calc(50% - 497.61px/2 - 4.55px);
            left: 0;
            right: 0;
            z-index: -1;
            transform: matrix(0.98, 0.22, -0.21, 0.98, 0, 0);
        }
        .circleLight {
            position: absolute;
            top: calc(50% - 520.66px/2 - 22.17px);
            left: 0;
            right: 0;
            z-index: -1;
            transform: matrix(0.43, 0.89, -0.93, 0.4, 0, 0);
        }
    }
    .main-buttons {
        display: flex;
        align-items: center;
        margin-top: 35px;
        .btn-primary {
            padding: 15px 36px;
            background: $Color-Picton-Blue;
            border: none;
            border-radius: 37px;
            margin-right: 10px;
            cursor: pointer;
            a {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.2px;
                color: $Color-White;
            }
        }
        .btn-outline {
            padding: 15px 36px;
            background: none;
            border: 1px solid $Color-Picton-Blue;
            border-radius: 37px;
            cursor: pointer;
            a {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.2px;
                color: $Color-Picton-Blue;
            }
        }
    }
}