// Font
$font:"Montserrat";
// Colors
$Color-White:#FFFFFF;
$Color-Alabaster:#FAFAFA;
$Color-Alto:#DEDEDE;
$Color-Mercury:#E9E9E9;
$Color-Silver:#BDBDBD;
$Color-Dove-Gray:#737373;
$Color-Ebony-Clay:#252B42;
$Color-Picton-Blue:#23A6F0;
$Color-Jordy-Blue:#8EC2F2;
$Color-Jungle-Green:#2DC071;
$Color-Burnt-Sienna:#E77C40;