@media only screen and (min-width: 800px) {
  .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 33.5px;
  }
  .row .card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
    border: 1px solid #E9E9E9;
    background: #FAFAFA;
    border: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
  }
  .row .card-item .card-text p {
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    padding-top: 10.86px;
  }
  .row .card-item:hover {
    background: #23A6F0;
  }
  .row .card-item:hover .card-icon,
  .row .card-item:hover .card-text p {
    fill: #FFFFFF;
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 800px) {
  .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 33.5px;
  }
  .row .card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
    border: 1px solid #E9E9E9;
    background: #FAFAFA;
    border: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
  }
  .row .card-item .card-text p {
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    padding-top: 10.86px;
  }
  .row .card-item:hover {
    background: #23A6F0;
  }
  .row .card-item:hover .card-icon,
  .row .card-item:hover .card-text p {
    fill: #FFFFFF;
    color: #FFFFFF;
  }
}
