@media only screen and (max-width: 800px) {
  .pricing-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pricing-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
}

.pricing-items .pricing-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 40px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.pricing-items .pricing-card .pricing-content h1 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  /* text-color */
  color: #252B42;
}

.pricing-items .pricing-card .pricing-content p {
  width: 164px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 35px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.1px;
  /* second-text-color */
  color: #737373;
}

.pricing-items .pricing-card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.pricing-items .pricing-card .price h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  /* identical to box height, or 142% */
  letter-spacing: 0.2px;
  /* primary-color */
  color: #23A6F0;
}

.pricing-items .pricing-card .price p {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.1px;
  /* disabled-element-color */
  color: #8EC2F2;
}

.pricing-items .pricing-card .price-button {
  padding-top: 35px;
}

.pricing-items .pricing-card .price-button button {
  width: 246px;
  padding: 15px 40px;
  margin-bottom: 25px;
  /* primary-color */
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  letter-spacing: 0.2px;
  background: #23A6F0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pricing-items .pricing-card .list-item:not(:first-child) {
  margin-top: 15px;
}

.pricing-items .pricing-card .list-item:not(:first-child) .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-items .pricing-card .list-item:not(:first-child) .list .check {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 200px;
  margin-right: 10px;
}

.pricing-items .pricing-card .list-item:not(:first-child) .list .secondary {
  background: #2DC071;
}

.pricing-items .pricing-card .list-item:not(:first-child) .list .mute {
  background: #BDBDBD;
}

.pricing-items .pricing-card .list-item:not(:first-child) .list .list-text p {
  width: 207px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.2px;
  /* text-color */
  color: #252B42;
}

.position {
  position: relative;
}

.position .circle-box {
  position: absolute;
  left: calc(50% - 90px/2 + 102px);
  top: -3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  background: #E77C40;
  border-radius: 52px;
}

.position .circle-box h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  /* light-text-color */
  color: #FFFFFF;
}
